// font-family
$font-family: 'Inter', sans-serif;
// colors
$color-primary: #111827;
$color-secondary: #374151;
$color-dark-gray: #6b7280;
$color-gray: #d1d5db;
$color-purple: #7c3aed;
$color-hero-bg: rgba(242, 247, 255, 0.7);
$testimonials-bg: #d5fafc;
// hero bg colors
$color-hero-line1: #75e3ea;
$color-hero-line2: #ede9fe;
$color-hero-line3: #c4b5fd;
//
$hero-bg-item-height: 70px;
